.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b4dfea

    
}

button {
    width: 20%;
    padding: 10px;
    margin: 30px;
    border: groove;
    border-radius: 15px;
    border-color: #f8c543;
    background-color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
button:hover {
    background-color: #56b6a8;
}
.link {
    color:#2a4674;
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    width: 100%;
    height: 80%;
}